{# //-----------------------------------
  //   Fichier : panier.html.twig
  //   Par:      Anthony Grenier
  //   Date :    2025-3-16
  //----------------------------------- #}
{% extends 'core/base.html.twig' %}

{% block content %}
<div class="example-wrapper">
    <h1>Panier</h1>
    {# affichage des items si le panier n'est pas vide #}
    {% if items is not empty %}
    {# mise a jour des quantitésd de tout les produits #}
    <form action="{{ path('update_all') }}" method="post">
        <table class="table table-striped">
            <thead>
                <tr class="text-center align-middle">
                    <th>Nom du produit</th>
                    <th class="align-middle">
                        Quantité
                        <button  type="submit" class="btn btn-dark mt-2 ">Mettre à jour les quantités</button>
                    </th>
                    <th>Prix Unitaire</th>
                    <th>Total</th>
                    <th>
                        Supprimer
                    </th>
                </tr>
            </thead>
            <tbody>
            {# affichage de touts les produit #}
                {% for produit in items %}
                    <tr>
                        <td>{{ produit.nom }}</td>
                        <td>
                            <input type="number" name="quantiteCommande[{{ produit.id }}]" value="{{ produit.quantiteCommande }}" min="1" class="form-control">
                        </td>
                        <td>{{ produit.prix | number_format(2, '.', ',') }} $</td>
                        <td>{{ (produit.prix * produit.quantiteCommande) | number_format(2, '.', ',') }} $</td>
                        <td>
                        {# effacer un item #}
                            <form action="{{ path('delete_item', { id: produit.id }) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-dark">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                    {# attributs de la commande #}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total achat:</td>
                        <td>{{totalSum | number_format(2, '.', ',') }} $</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Frais de livraison:</td>
                        <td>{{10 | number_format(2, '.', ',') }} $</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total avant taxes:</td>
                        <td>{{(totalSum + fraisDePort) | number_format(2, '.', ',') }} $</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>TPS(0,05):</td>
                        <td>{{tps | number_format(2, '.', ',') }} $</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>TVQ(0,0975)</td>
                        <td>{{tvq | number_format(2, '.', ',') }} $</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{total | number_format(2, '.', ',') }} $</td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </form>
    <a class="nav-link" href="{{ path('app_home') }}"> Retour au Catalogue</a>

    <form action="{{ path('vider_panier') }}" method="post">
        <button type="submit" class="btn btn-dark mt-1">Vider le panier</button>
    </form>

    {# message si le panier est vide #}
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}
</div>
{% endblock %}
