{% extends 'core/base.html.twig' %}

{% block title %} Produits  {% endblock %}

{% block content %}
    <h1 class="mt-4">Produits - ({{ produits | length }}) </h1>
    <div class="row">
        <div class="col-2">
            {# Afficher les 5 rôles #}
            <ul>
                <li><a href="{{ path('app_home') }}">Tous les rôles</a></li>
                {% for categorie in categories %} 
                    <li><a href="{{ path('app_home', { categorie: categorie.idCategorie  }) }}">{{ categorie.description }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-10">
            <div class="row">
                {% if produits|length > 0 %}
                    {% for produit in produits %}
                        <div class="col-2 card mx-2 my-2">
                            <div class="card-body">
                                <a class="produit-modal" href="{{ path('produit_modal', { idProduit: produit.id })}}"><h5 class="card-title text-center">{{ produit.nom }}</h5></a>
                                <img src="images/{{ produit.nom }}.jpg" class="mx-auto d-block img-produit">
                                {# <img src="https://ddragon.leagueoflegends.com/cdn/13.1.1/img/champion/{{ champion.name | replace({' ':'', "'":""}) | lower}}.png" class="mx-auto d-block"> #}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun Produit de cette catégorie.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="produit-modal">
        <div class="modal-dialog">
            <div id="produit-modal-content" class="modal-content">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/produit.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('scripts/modal.champion.js') }}"></script>
{% endblock %}
